# Arquivo compilados#
*.class
src/main/webapp/WEB-INF/classes*
src/main/webapp/WEB-INF/.gitignore
target

# Package Files #
*.jar
*.war
*.ear

# Outro editores #
*~

# Eclipse Files #
.classpath
.project
.settings*
/target
nb-configuration.xml
/build
