@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-size: 15px;
}
#topo {
	width:100%;
	height:50px;
}
#centro {
	width: 100%;
	min-height: 570px;
}
#rodape {
	width: 100%;
	height: 40px;
	background-color: #FF4A00;
}
.centroMeio, .rodapeMeio, .topoCentro {
	width: 740px;
	margin: 0 auto;
}
#container > .contentPanel{
	width: 320px;
	margin: 0 auto;
}
.posicInfo {
	color: #000000;
	float: left;
	padding: 10px 0;
}
/* Aqui definimos os tamanhos dos campos */
.tam-comum {
	width: 300px;
	padding-right: 20px;
}
.tam-nome {
	width:300px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.tam-nome2 {
	width:356px;
	margin-right: 25px;
	padding-bottom: 20px;
}
.tam-end {
	width:300px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.tam-number {
	width:150px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.tam-bair {
	width:200px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.tam-cid {
	width:200px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.tam-uf {
	width:160px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.tam-preco {
	width:200px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.tam-org {
	width:200px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.tam-desc {
	width:500px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.tam-data {
	width:200px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.dist-label {
	padding-bottom: 10px;
	border-bottom: 1px solid #BFBFBF;
}
.dist-form {
	padding-top: 20px;
}
.box-esq {
	width: 400px;
	float: left;
	padding-top: 20px;
}
.box-dir {
	width: 260px;
	padding-top: 20px;
	float: right;
}